.Signupdiv{
    padding-top: 100px;
    background-color: rgb(147, 193, 193);
    padding: 20px;
}

.btn-login {
    font-size: 0.9rem;
    width: 200px;
    letter-spacing: 0.05rem;
    padding: .75rem 1re0m;
    margin-left: 250px;
  }